.item-detail {
  margin-bottom: 2.3rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.75rem;
}

.item-detail span {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 0.5rem;
}

.item-detail cite {
  color: #1f1f1f;
  line-height: 16px;
  letter-spacing: 0.1px;
  font-size: 14px;
}

.item-detail h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: #1f1f1f;
  margin-top: 0.25rem;
  margin-bottom: 0.4rem;
}

@media (max-width: 680px) {
  .result-layer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000046;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
