.menu {
  width: 30px;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.menu li {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #a4a4a4;
}
