.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-group {
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.search-button {
  font-size: 1.4rem;
  background-color: #eceaea;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 30px;
  cursor: pointer;
}
