.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-group {
  width: 100%;
}

.input-group {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  height: 48px;
  padding: 10px;
  border-radius: 24px;
  margin-top: 30px;
}

button {
  background-color: unset;
  border: unset;
}

.clear-button {
  cursor: pointer;
}

input {
  width: 100%;
  border: unset;
  padding-left: 10px;
  line-height: 22px;
  max-width: 600px;
}

input:focus-visible {
  outline: none;
}

.search-button {
  font-size: 1.4rem;
  background-color: #eceaea;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 30px;
}
