.nav-wrapper {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #fafafa;
  border-bottom: 1px solid #eceaea;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.stronger-text {
  font-weight: 600;
}

.menu {
  width: 30px;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.menu li {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #a4a4a4;
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-left: 1.5rem;
}
